body {
    background: rgb(255,255,255);
    background: linear-gradient(61deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    display:flex;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    overflow-x: hidden;
}

.container{
    position: absolute;
    display:grid;
    grid-template-columns: 50% 50%;
    width:86%;
    left:14%;
    top:10%;
}

.product-card {
    margin:2%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container .image {
    border-radius:50px;
    width: 100%;
    border-collapse: inset;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.03);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.03);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.03);
    padding-bottom: 1%;
}

.container .title {
    width: 100%;
    margin:1%;
    font-weight: 600;
    font-size: 1.2em;
    padding-left:15%;
}


.container .price {
    width: 48%;
    margin:1%;
    font-weight: 600;
    font-size: 1em;
    display: block;
    padding-left:15%;
}


#category1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:20%;
    border:10% solid transparent;
    
}
#category2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    top:25%;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    border:10% solid transparent;
}
#category3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:30%;
    border:10% solid transparent;
}
#category4{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:35%;
    border:10% solid transparent;
}
#category5{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:40%;
    border:10% solid transparent;
}
#category6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:45%;
    border:10% solid transparent;
}
#category7{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:50%;
    border:10% solid transparent;
}
#category8{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:55%;
    border:10% solid transparent;
}
#category9{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:60%;
    border:10% solid transparent;
}
#category10{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:65%;
    border:10% solid transparent;
}
#category11{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2%;
    font-size: 1.2em;
    color:#454545;
    top:70%;
    border:10% solid transparent;
}

.viewall{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border:none;
    background: none;
    cursor: pointer;
    position: fixed;
    left:2.5%;
    top:15.5%;   
    margin-bottom:10%;
    font-size: 1.2em;
    text-decoration: none;
    color:#454545;
}


.category:hover{
    animation: grow .3s forwards;
}
.viewall:hover{
    animation: grow .3s forwards;
}
.container .ogprice {
    display: block;
    width: 48%;
    margin:1%;
    font-weight: 600;
    font-size: small;
    position: relative;
    padding-left:15%;
}

.container .add-to-cart {
    display: block;
    width: 48%;
    margin:1%;
    font-weight: 600;
    font-size: small;
    position: relative;
}




.leftnav{
    left:0;
    top:18%;
    width:10%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
}

.sort{
    text-decoration: none;
}

#high{
    top:35vh;
    position: fixed;
    left:2%;
}


.cart {
    position:fixed;
    width:2.5em;
    right:3%;
    top:18px;
    z-index: 101;
    opacity: .8;
    pointer-events: all;
}

.cart:hover {
    opacity: 1;
}

.quantity {
    position:fixed;
    opacity: .8;
    right:.5%;    
    top:20px;
    z-index: 103;
    color:#454545;
    font-size: .5em;
    font-weight: 800;
    text-align: center;
    padding-top:.9em;
    padding-bottom:.9em;
    padding-left:1.1em;
    padding-right:1.1em;
    z-index: 101;
    pointer-events: none;
}

.shop{
    position: fixed;
    line-height: 10%;
    left:25%;
    text-decoration: none;
    background:none;
    top:40px;
    color:#454545;
    font-size:1.5rem;
    font-weight: 600;
    z-index: 101;
}
.shop:hover{
    color: black;
}


.navcontainer{
    position: fixed;
    height: 80px;
    width:100%;
    background:none;
    z-index: 95;
    top:0;
    overflow:hidden;

}

.home {
    position:fixed;
    height: 70px;
    left:3%;
    top:5px;
    z-index: 101;
}

.navcontainer:hover{
    background: white;
    transition:background 200ms ease-in-out;
    opacity: .7;
}


.order.active{
    position: fixed;
    width:300px;
    right:1%;
    top:50px;
    border-collapse: collapse;
    z-index: 1001;
    background:white;
    display:block;
    border-radius: 10px;
    font-size: .5em;
    font-family: sans-serif;
    border:25px solid white;
    padding-bottom: 8%;
    padding-right:5%;
    max-height: 50vh;
    overflow: scroll;
    margin:10px;
}

.checkoutbutton{
    position: absolute;
    width:75%;
    left:12.5%;
    border-radius: 20px;
    border:2px solid #454545;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:5px;
    padding-left: 5px;
    outline: none;
    text-align: center;
    font-size: 1.1rem;
    background: white;
    cursor: pointer;
    color:#454545;
    opacity: .8;
    text-decoration: none;
    font-family: sans-serif;
    margin-top:50px;
    
}

.checkoutbutton:hover{
    opacity: 1;
    background:#454545;
    color:white;
    transition:background 300ms;
    animation: grow 500ms forwards;

}

.gotocartbutton{
    position: absolute;
    width:75%;
    left:12.5%;
    border-radius: 20px;
    border:2px solid #454545;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:5px;
    padding-left: 5px;
    outline: none;
    text-align: center;
    font-size: 1.1rem;
    background: white;
    cursor: pointer;
    color:#454545;
    opacity: .8;
    text-decoration: none;
    font-family: sans-serif;
}

.gotocartbutton:hover{
    opacity: 1;
    background:#454545;
    color:white;
    transition:background 300ms;
    animation: grow 500ms forwards;

}

.item_total{
    width:25%;
}

.order{
    display:none;
}
.order td{
    padding-top:1%;
    padding-bottom:1%;
    padding-left:20px;
    text-align: left;
}
.itemquantity{
    padding-left: 0;
}
.item-image{
    height: 65px;
    border-radius: 10%;
}

.search-bar{
    z-index: 500;
    position: fixed;
    border:2px solid #454545;
    display:flex;
    top:22px;
    width:100px;
    height: 25px;
    outline:none;
    border-radius: 50px;
    padding:2px;
    transition:width 300ms ease-in-out;
    left: 50%;
    margin-left: 20px;
}

.search-bar__input{
    flex-grow:1;
    position: absolute;
    color:#454545;
    background:transparent;
    border:none;
    padding-left:20px;
    top:0;
    bottom:0;
    left:0;
    line-height: 22px;
} 
.search-bar__input:focus{
    outline:none;
} 

.search__submit{
    height:28px;
    width:28px;
    pointer-events: all;
    border:none;
    cursor:pointer;
    border-radius: 50%;
    background: none;
    margin-left: auto;
    padding:1px;
}

.search__submit.icon{
    height:20px;
    width:20px;
}

.search-bar:focus-within{
    width:210px;
}


@media (max-width:900px) {
    .quantity  {
        right:8%;
    }
}

@media (max-width:700px) {
    .container .product-card {
        width:100%;
    }
}
@keyframes grow {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}